#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  width: fit-content;
  height: fit-content;
  background-color: black;
  color: white;
  padding: 12px;
  margin: 1em;
}

.text-black {
  width: fit-content;
  height: fit-content;
  padding: 12px;
}

.fall {
  width: 200px;
}

#fall-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
